Follow VO registration procedure about VO name

The [CERN's VO Registration Procedure](https://edms.cern.ch/ui/#!master/navigator/document?D:1517359180:1517359180:subDocs) says that "Considering that RFC1034 section 3.5 states that both upper case and lower case letters are allowed, but no significance is to be attached to the case, but that today the software handling VO names may
still be case sensitive, all VO names MUST be entirely in lower case".

In our case we currently have no limits to the voName https://github.com/indigo-iam/iam/blob/master/iam-voms-aa/src/main/java/it/infn/mw/voms/properties/VomsProperties.java#L106 

We should be aligned to that VO registration procedure and not allow upper case characters.